.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: relative;
  z-index: 100;
  @include light-shadow;
  &__logo {
    max-width: 100%;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;

  &--arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #353535;
    position: absolute;
    left: 2rem;
    bottom: 1.5rem;
    @include arrow-animation;
    @media screen and (min-width: 1024px) {
      left: 18rem;
      
    }
  }
}

// .header__menu img {
//   margin: 0 auto;
// }
