/*Footer*/
.footer {
  background-color: $dark-grey;
  @media screen and (min-width: 1024px) and (max-width: 1920px) {
    padding-top: 2rem;
  }
  &__logo {
    width: 10rem;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      order: 1;
    }
  }
  &__list {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      flex-direction: row;
      gap: 1rem;
    }
    &--light {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      @media screen and (min-width: 1024px) and (max-width: 1920px) {
        flex-direction: row;
        gap: 1rem;
        margin-left: 1.5rem;
      }
    }
  }
  &__item {
    display: flex;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      align-items: flex-end;
    }
  }
  &__link {
    gap: 0.625rem;
    display: flex;
    color: var(--White, #fff);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      align-items: flex-end;
    }
    &--light {
      color: var(--White, #fff);
      font-family: Roboto;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      
    }
  }
  &__icon {
    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      display: flex;
      align-items: flex-end;
    }
  }
}
.footer__container {
  padding: 1.88rem 1.5rem;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media screen and (min-width: 1024px) and (max-width: 1920px) {
    flex-direction: row;
    justify-content: flex-end;
    gap: 5rem;
    padding-right: 2.5rem;
  }
}

.icon {
  width: 12px;
  height: 13px;
  fill: white;
}
