@use "sass:color";

@mixin light-shadow {
  box-shadow: 0px 2px 4px 0px $shadow;
}

@mixin mid-shadow {
  box-shadow: 0px 4px 4px 0px color.adjust($shadow, $alpha: 0.1);
}

@mixin card-shadow {
  box-shadow: 0 4px 15px 0 color.adjust($shadow, $alpha: -0.05);
}

@mixin button-gradient {
  // background-blend-mode: overlay; /*Pour pouvoir stack les 2 gradients et faire l'effet attendu*/ essai non concluant
  padding: 1rem 1.5rem;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  text-align: center;
  background: $primary-gradient;
  box-shadow: 0 4px 10px 0 rgba($color: $shadow, $alpha: 0.25);
  transition: all 0.3s ease-in-out;
  &:hover {
    // background: $primary-gradient, $transparent-gradient;
    opacity: 0.85;
    box-shadow: 0 4px 15px 0 rgba($shadow, $alpha: 0.35);
    transform: scale(1.008);
  }
  &:active {
    transform: scale(1.05);
  }
}

@mixin arrow-animation {
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    color: $primary;
  }
}

@mixin function-animation {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.015);
    .function__icon {
      color: $primary;
    }
  }
}
@mixin card-animation {
  transition: 0.3s ease-in-out;
  &:hover{
    transform: scale(1.015);
  }
}