
.fonction__txt {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__txt {
  color: #000;
  font-family: Roboto;
  line-height: normal;
  font-style: normal;
  &__title {
    font-size: 1.125rem;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 1.0625rem;
    font-weight: 300;
  }
}